<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"> <h3>Elige el Estado de Los Libros</h3></a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="state" name="state">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
</nav>